### 1.Create a function that takes a base number and an exponent number and returns the calculation.
#### Example
    - calculate_exponent(3, 3) ➞ 27

In [11]:
# Input base and exponent numbers
base = 2
exponent = 3

# Initialize the result to 1
result = 1

# Check if the exponent is negative
if exponent < 0:
    base = 1 / base
    exponent = -exponent

# Calculate the result using a for loop
for _ in range(exponent):
    result *= base

# Print the result
print(f"{base}^{exponent} = {result}")

2^3 = 8

In [4]:
base = int(input())
exp = int(input())
result=1
i=0
while i < exp:
    result*=base
    i+=1
print(f"{base}^{exp} = {result}")

2
3
2^3 = 8

###  2.Create a function that takes a list of numbers. Return the largest number in the list.
#### Example:-
    - Large_Num_in_list([4, 5, 1, 3]) ➞ 5

In [6]:
n = [2,12,22,5,32,42]
if not n:
    print("the list is empty")
else:
    largest=n[0]
    for ele in n:
        if ele > largest:
            largest = ele
    print("largest number in the list is:",largest)

large number in the list is: 42

In [8]:
n = [2,12,22,5,32,42]
largest = 0
i=0
while i < len(n):
    if n[i]>largest:
        largest=n[i]
    i+=1
print("largest number in this list is:",largest)

largest number in this list is: 42

###  3.Create a function that takes a list of numbers. Return the smallest number in the list.
### Example:-
    - small_Num_in_list([4, 5, 1, 3]) ➞ 1

In [10]:
n = [22,32,2,42,52]
if not n:
    print("the list is empty")
else:
    smallest=n[0]
    for ele in n:
        if ele<smallest:
            smallest=ele
    print("smallest number in the list is:",smallest)

smallest number in the list is: 2

In [9]:
n = [22,32,2,42,52]
smallest = 0
i = 0
while < len(n):
    if n[i]<smallest:
        smallest=n[i]
    i+=1
print("smallest number in the list is:",smallest)

SyntaxError: invalid syntax (268876465.py, line 4)

### 4.Create a function that takes a list and returns the sum of all numbers in the list.
#### Example:-
    - sum[1,3,6,9] --> 19

In [30]:
number = [1,3,7,9]
sum = 0
for ele in number:
    sum = sum + ele
print(sum)

20

In [3]:
num = [1,3,7,9]
sum = 0
i=0
while i<len(num):
    sum+=num[i]
    i+=1
print(sum)

20

### 5.Create a function that returns the last value of the last item in a list or string.
#### Example:-
    last_element="jagadish" --> h

In [44]:
l = 'jagadish'
for i in l:
    y=l[-1]
print(y)

h

In [4]:
l = [2,3,4,5,1]
for i in l:
    last_item=l[-1]
print(last_item)

1

### 6.Create a function which returns the total of all odd numbers up to and including n. n will be given as an odd number.
#### Example:-
    a = [1,3,5]--> 9

In [2]:
sum = 0
for i in range(6):
    if i%2!=0:
        sum = sum +i
print(sum,end=" ")

9

In [13]:
odd = 5
sum=0
i=1
while i <= odd:
        sum+=i
        i+=2
print(sum)

9

### 7.Create a function that takes two parameters (start, stop), and returns the sum of all even numbers in the range.
#### Example:-
    sum_even_nums_in_range(10, 22) ➞ 90

In [2]:
sum = 0
for ele in range(10,22):
    if ele%2==0:
        sum = sum +ele
print(sum,end=" ")

90

In [21]:
n = 5
sum = 0
i=1
while i <= n:
        sum+=i
        i+=2
print(sum)

9

### 8.Create a function that takes two strings as arguments and returns the number of times the first string (the single character) is found in the second string.
#### Example:-
    char_count("a", "edabit") ➞ 1

In [4]:
l = ["jagadeesh vungarala"]
b = [ele.count('a') for ele in l]
b

[5]

### 9.Create a function which returns the length of a string, without using len().
#### Example:-
    length("wash your hands!") ➞ 16

In [30]:
l= input()
#l = "jagadish vungarala"
count = 0
for i in l:
    count+=1
print("length of the string:",count)

jagadish
length of the string: 8

In [29]:
l = ("jagadeesh")
i=0
count=0
while i < len(l):
    i+=1
    count=i
print("length of the string:",count)

length of the string: 9

### 10.Create a function that takes a number n and returns the sum of all square numbers up to and including n.
#### Example:-
    - squares_sum(3) ➞ 14
      * 1² + 2² + 3² =
      * 1 + 4 + 9 =
      * 14

In [35]:
l = int(input("Enter a square:"))
t=0
for i in range(1,l+1):
    t+=i**2
print(t,end=" ")

Enter a square:5
55

In [38]:
l = int(input("Enter a square:"))
t=0
i=0
while i<=l:
        t+=i**2
        i+=1
print(t)

Enter a square:5
55

### 11.A palindrome is a word that is identical forward and backwards.
#### Example
    mom
    racecar
    kayak
Given a word, create a function that checks whether it is a palindrome.

Examples
    is_palindrome("mom") ➞ True

In [12]:
str = input("Enter a string:")
r = ''
for char in str:
    r=char+r
if str==r:
    print("it is a palindrome")
else:
    print("it is not a palindrome")

Enter a string:121
it is a palindrome

In [40]:
x=input('Enter the string : ')
if (x==x[::-1]):
    print('palindrome')
else:
    print('not a palindrome')

Enter the string : 121
palindrome

### 12.Implement a function that returns a list containing all the consecutive numbers in ascendant order from the given value low up to the given value high (bounds included).
#### Examples
    get_sequence(1, 5) ➞ [1, 2, 3, 4, 5]

In [13]:
low = int(input("Enter the low value: "))
high = int(input("Enter the high value: "))

numbers = []

for num in range(low, high + 1):
    numbers.append(num)

print("Consecutive numbers:", numbers)

Enter the low value: 1
Enter the high value: 10
Consecutive numbers: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [41]:
low = 1
high = 5
numbers=[]
i=0
while i<=high:
    numbers.append(i)
    i+=1
print(numbers)

[0, 1, 2, 3, 4, 5]

### 13.Create a function that takes a list and returns the difference between the biggest and smallest numbers.

#### Examples
difference_max_min([10, 4, 1, 4, -10, -50, 32, 21]) ➞ 82
 - Smallest number is -50, biggest is 32.

In [41]:
x=[44,32,86,19]
largest=0
smallest=0
for i in x:
    if i < smallest:
        smallest=i
    elif i > largest:
        largest = i

difference = largest - smallest
print(f'difference between the largest and smallest:',difference)

difference between the largest and smallest: 86

In [42]:
num=[44,32,86,19]
largest=0
smallest=0
difference=0
i=0
while i < len(num):
    if num[i] < smallest:
        smallest=num[i]
    elif num[i] > largest:
        largest = num[i]
    i+=1
    difference=largest-smallest
print(f'difference between the largest and smallest:',difference)

difference between the largest and smallest: 86

### 14.Mubashir created an infinite loop! Help him by fixing the code in the code tab to pass this challenge. Look at the examples below to get an idea of what the function should do.

Examples:

print_list(1) ➞ [1]

print_list(3) ➞ [1, 2, 3]

In [7]:
n = int(input("Enter a number:"))
m = []
i = 1
while i <= n:
    m.append(i)
    i +=1
print("The Buggy code:",m)

Enter a number:3
The Buggy code: [1, 2, 3]

In [42]:
n = int(input("Enter a number:"))
m = []
for i in range(1,n+1):
    m.append(i)
print(m)

Enter a number:5
[1, 2, 3, 4, 5]

### 15.Create a function that takes a number (from 1 - 60) and returns a corresponding string of hyphens.

Examples
num_to_dashes(1) ➞ "-"

num_to_dashes(5) ➞ "-----"

num_to_dashes(3) ➞ "---"

In [11]:
n = int(input(""))
i=0
y=''
while i<n:
    y+='-'
    i+=1
print(f'"{y}"')

4
"----"

### 16.Write a function that takes an integer and returns a string with the given number of "a"s in Edabit.

Examples

how_many_times(5) ➞ "Edaaaaabit"

In [43]:
name = int(input("Enter a str:"))
result=''

while num >=1:
    result = "a" +result
    num-=1

result="E" + result + "bit"
print(result)

Enter a num:8
Eaaaaaaaabit

In [27]:
name = int(input("Enter a str:"))
result=''
for i in range(name):
    result+='a'
    
print('ed'+result+'bit')

Enter a str:6
edaaaaaabit

### 17. Create a function that returns True if all parameters are truthy, and False otherwise.

Examples

all_truthy(True, True, True) ➞ True

all_truthy(True, False, True) ➞ False

all_truthy(5, 4, 3, 2, 1, 0) ➞ False

In [39]:
num = (1,1,1) 
result=True
for i in num:
    if i in num:
        result=True
        break
print(result)

True

In [40]:
x = [True,True,True]
result=True
i=0
while i<len(x):
    if not x[i]:
        result= False
        break
    i+=1
print(result)

True

## 18. Scientists have discovered that in four decades, the world will EXPLODE! It will also take three decades to make a spaceship to travel to a new planet that can hold the entire world population.

You must calculate the number of people there will be in three decades from now.

The variable P is the world population now.

    Assume that every month, someone gives birth to more people nP.
    Return the number of people there will be when the spaceship is complete.

In [48]:
p = int(input("Enter a population:"))
np = int(input("Enter the birth every month:"))
decades =  3
months_per_decade = 12

for i in range(decades):
    birth = np*months_per_decade  
print(birth)

Enter a population:1500
Enter the birth every month:500
6000

19.  Word Numbers! Create a function that returns a number, based on the string provided. Here is a list of all digits:

String Number
"one" 1
"two" 2
"three" 3
"four" 4
"five" 5
"six" 6
"seven" 7
"eight" 8
"nine" 9
"zero" 0
Examples word("one") ➞ 1

word("two") ➞ 2

word("nine") ➞ 9

In [51]:
word_number = {
    "one": 1,
    "two": 2,
    "three": 3,
    "four": 4,
    "five": 5,
    "six": 6,
    "seven": 7,
    "eight": 8,
    "nine": 9,
    "zero": 0
}
word = "zero"
result= None

for key, value in word_number.items():
    if key == word:
        result = value
        break
print(result)

0

## 20. Find the Index Create a function that takes a list and a string as arguments and returns the index of the string.

Examples find_index(["hi", "edabit", "fgh", "abc"], "fgh") ➞ 2

find_index(["Red", "blue", "Blue", "Green"], "blue") ➞ 1

find_index(["a", "g", "y", "d"], "d") ➞ 3

find_index(["Pineapple", "Orange", "Grape", "Apple"], "Pineapple") ➞ 0

In [65]:
list=["hi", "edabit", "fgh", "abc"] 
string="abc"

index = None

for i in range(len(list)):
    if list[i] == string:
        l = i
        break
        
print(l)

3

In [1]:
list=["hi", "edabit", "fgh", "abc"] 
string = "abc"
i = 0

while i < len(list):
    if list[i]==string:
        print(i)
        break
    i+=1

3

## 21. Sum of Minimums Create a function that takes a 2D list lst and returns the sum of the minimum value in each row.

Examples sum_minimums([ [1, 2, 3, 4, 5], [5, 6, 7, 8, 9], [20, 21, 34, 56, 100] ]) ➞ 26

minimum value of the first row is 1 minimum value of the second row is 5 minimum value of the third row is 20

In [4]:
list=[ [1, 2, 3, 4, 5], [5, 6, 7, 8, 9], [20, 21, 34, 56, 100] ]
sum_min = 0
for i in list:
    min_value=min(i)
    sum_min+=min_value
print(sum_min)

26

## 22. Factors of a Given Number Create a function that finds each factor of a given number n. Your solution should return a list of the number(s) that meet this criteria.

Examples find_factors(9) ➞ [1, 3, 9] 9 has three factors 1, 3 and 9

find_factors(12) ➞ [1, 2, 3, 4, 6, 12]

find_factors(20) ➞ [1, 2, 4, 5, 10, 20]

find_factors(0) ➞ [] 0 has no factors

In [16]:
num =int(input("Enter a number:"))
factors=[]
for i in range(1,num+1):
    if num % i==0:
        factors.append(i)
print(factors)

Enter a number:20
[1, 2, 4, 5, 10, 20]

In [17]:
num=int(input("Enter a number:"))
factors=[]
i=1
while i<=num:
    if num % i ==0:
        factors.append(i)
    i+=1
print(factors)

Enter a number:20
[1, 2, 4, 5, 10, 20]

## 23. Reverse the Case Given a string, create a function to reverse the case. All lower-cased letters should be upper-cased, and vice versa.

Examples reverse_case("Happy Birthday") ➞ "hAPPY bIRTHDAY"

reverse_case("MANY THANKS") ➞ "many thanks"

reverse_case("sPoNtAnEoUs") ➞ "SpOnTaNeOuS"

In [19]:
y = input("enter a name:")
z=""
for i in y:
    if i.islower():
        z+=i.upper()
        
    if i.isupper():
        z+=i.lower()
        
print(z)

enter a name:JaGaDiSh
jAgAdIsH

In [21]:
y = input("enter a name:")
i=0
while i<len(y):
    z=y.swapcase()
    i+=1
print(z)

enter a name:jAgAdIsH
JaGaDiSh

## 24.  Even and Odd Strings Given a one word lowercase string txt, return another string such that even-indexed and odd-indexed characters are grouped and groups are space-separated.

Examples even_odd_string("mubashir") ➞ "mbsi uahr" Letters at even indexes = "mbsi" Letters at odd indexes = "uahr" Join both strings with a space

even_odd_string("edabit") ➞ "eai dbt"

even_odd_string("airforce") ➞ "aroc ifre"

In [3]:
name = input('enter a string: ')

even_chars = ""
odd_chars = ""

for i in range(len(name)):
    if i % 2 == 0:
        even_chars += name[i]
    else:
        odd_chars += name[i]

result = even_chars + " " + odd_chars
print(result)

enter a string: jagadish
jgds aaih

In [4]:
x = input('enter a string: ')
y = "" #even char
z = "" #odd char
i = 0
while i < len(x):
    if i%2==0:
        y+=x[i]
    else:
        z+=x[i]
    i+=1
a = y+z
print(a)

enter a string: jagadish
jgdsaaih

## 25. Negate the List of Numbers Given a list of numbers, negate all elements contained within.

Negating a positive value -+n will return -n, because all +'s are removed. Negating a negative value --n will return n, because the first - turns the second minus into a +. Examples negate([1, 2, 3, 4]) ➞ [-1, -2, -3, -4]

negate([-1, 2, -3, 4]) ➞ [1, -2, 3, -4]

negate([]) ➞ []

In [10]:
numbers = list()
z = []
for i in range(1,6):
    z.append(-i)
    
print(z)

[-1, -2, -3, -4, -5]

In [19]:
numbers = [1,2,3,4]

z=[]
i=1
while i <= len(numbers):
    z.append(-i)
    i+=1
print(z)

[-1, -2, -3, -4]

## 26. Additive Inverse A number added with its additive inverse equals zero. Create a function that returns a list of additive inverses.

Examples additive_inverse([5, -7, 8, 3]) ➞ [-5, 7, -8, -3]

additive_inverse([1, 1, 1, 1, 1]) ➞ [-1, -1, -1, -1, -1]

additive_inverse([-5, -25, 35]) ➞ [5, 25, -35]

In [21]:
num = [5, -7, 8, 3]  

inverses = []
i = 0

while i < len(num):
    inverses.append(-num[i])
    i += 1

print(inverses)

[-5, 7, -8, -3]

In [1]:
num = [5, -7, 8, 3]  
inverses=[]
for i in num:
    inverses.append(-i)
    
print(inverses)

[-5, 7, -8, -3]

## 27 Add a Consecutive List of Numbers Write a function that takes the last number of a consecutive list of numbers and returns the total of all numbers up to and including it.

Examples add_up_to(3) ➞ 6
1 + 2 + 3 = 6

add_up_to(10) ➞ 55
1 + 2 + 3 + ... + 10 = 55

add_up_to(7) ➞ 28
1 + 2 + 3 + ... + 7 = 28

In [1]:
x = int(input('enter a num: '))
total = 0
num = 1
while num <=x:
    total+=num
    num+=1
print(total)

enter a num: 3
6

In [2]:
x=int(input("enter a num:"))
total=0
for i in range(1,x+1):
    total+=i
print(total)

enter a num:3
6

## 28. Find the Index (Part 1) Create a function that finds the index of a given item.

Examples search([1, 5, 3], 5) ➞ 1

search([9, 8, 3], 3) ➞ 2

search([1, 2, 3], 4) ➞ -1

In [3]:
lst = [1, 5, 3]  # Replace with the desired list
item = int(input())       # Replace with the desired item to search for



for i in range(len(lst)):
    if lst[i] == item:
        index = i
        break

print(i)

3
2

In [4]:
x = [1, 5, 3]
search = 3
index =-1
i = 0
while i < len(x):
    if x[i] == search:
        index = i
        break
    i += 1
print(index)

2

## 29. Count the Capital Letters Given a string of letters, how many capital letters are there?

Examples capital_letters("fvLzpxmgXSDrobbgMVrc") ➞ 6

capital_letters("JMZWCneOTFLWYwBWxyFw") ➞ 14

capital_letters("mqeytbbjwqemcdrdsyvq") ➞ 0

In [1]:
s = "fvLzpxmgXSDrobbgMVrc"
count = 0
index = 0

while index < len(s):
    if s[index].isupper():
        count += 1
    index += 1

print(count)

6

In [2]:
string = input('enter a string: ')

capital_count = 0

for char in string:
    if char.isupper():
        capital_count += 1

print(capital_count)

enter a string: fvLzpxmgXSDrobbgMVrc
6

## 30. .Create a function that finds the index of a given item.
Examples

    search([1, 5, 3], 5) ➞ 1

    search([9, 8, 3], 3) ➞ 2

    search([1, 2, 3], 4) ➞ -1

In [1]:
list=[1,5,3]
y=list.index(5)
y

1

In [10]:
list = [9,8,3]
search = 8
i = 0
while i < len(list):
    if list[i] == search:
        index=i
        break
    i+=1
print(index)

1

### 31. Create a function that takes a number num and returns the first 10 multiples of num with 1 added to it, separated by commas.

Examples

n_tables_plus_one(7) ➞ "8,15,22,29,36,43,50,57,64,71"

n_tables_plus_one(1) ➞ "2,3,4,5,6,7,8,9,10,11"

n_tables_plus_one(3) ➞ "4,7,10,13,16,19,22,25,28,31"

In [19]:
n = 7
result = []

for i in range(1, 11):
    result.append(str(n * i + 1))

output = ",".join(result)
print(output)

8,15,22,29,36,43,50,57,64,71

In [20]:
n = 7
result = []
i = 1
while i <= 10:
    result.append(str(n * i + 1))
    i += 1
output = ",".join(result)
print(output)

8,15,22,29,36,43,50,57,64,71

### 32. Create a function that adds a string ending to each member in a list.

Examples

add_ending(["clever", "meek", "hurried", "nice"], "ly") ➞ ["cleverly", "meekly", "hurriedly", "nicely"]

add_ending(["new", "pander", "scoop"], "er") ➞ ["newer", "panderer", "scooper"]

add_ending(["bend", "sharpen", "mean"], "ing") ➞ ["bending", "sharpening", "meaning"]

In [5]:
words=["bend", "sharpen", "mean"]
ending=input("enter a ending word:")
for i in words:
    add = [word + ending for word in words]
print(add)

enter a ending word:ing
['bending', 'sharpening', 'meaning']

### 33. Create a function that takes a list of numbers and returns the sum of its cubes.

Examples

sum_of_cubes([1, 5, 9]) ➞ 855
Since 1^3 + 5^3 + 9^3 = 1 + 125 + 729 = 855

sum_of_cubes([3, 4, 5]) ➞ 216

sum_of_cubes([2]) ➞ 8

sum_of_cubes([]) ➞ 0

In [25]:
s=[1,5,9]
sum_of_cubes=0
for num in s:
    sum_of_cubes+=num**3
print(sum_of_cubes)

855

In [26]:
s=[3, 4, 5]
sum_of_cubes=0
i=0
while i<len(s):
    sum_of_cubes+=s[i]**3
    i+=1
print(sum_of_cubes)

216

### 34. Create a function that takes a number as an argument and returns a list of numbers counting down from this number to zero.

Examples

countdown(5) ➞ [5, 4, 3, 2, 1, 0]

countdown(1) ➞ [1, 0]

countdown(0) ➞ [0]

In [6]:
n = int(input("Enter a number:"))
c_l = []

while n >= 0:
    c_l.append(n)
    n -= 1

print(c_l)

Enter a number:4
[4, 3, 2, 1, 0]

In [ ]:
### 35.

In [8]:
n = int(input("Enter a number:"))
c_l=[]
for i in range(n+1):
    c_l.append(n)
    n-=1
print(c_l)

Enter a number:8
[8, 7, 6, 5, 4, 3, 2, 1, 0]

## Easy Questions

### 1. When resistors are connected together in series, the same current passes through each resistor in the chain and the total resistance, RT, of the circuit must be equal to the sum of all the individual resistors added together. That is:

RT = R1 + R2 + R3 ...
Create a function that takes an array of values resistance that are connected in series, and calculates the total resistance of the circuit in ohms. The ohm is the standard unit of electrical resistance in the International System of Units ( SI ).

Examples
series_resistance([1, 5, 6, 3]) ➞ "15 ohms"

series_resistance([16, 3.5, 6]) ➞ "25.5 ohms"

series_resistance([0.5, 0.5]) ➞ "1.0 ohm"

In [1]:
series_resistance=[16,3.5,6]
sum_resistance = 0
for i in series_resistance:
    sum_resistance+=i
print(f'{sum_resistance} ohms')

25.5 ohms

In [2]:
series_resistance=[1,2,3,3]
sum_resistance = 0
i=0
while i <= len(series_resistance):
        sum_resistance+=i
        i+=1
print(f'{sum_resistance} ohms')

10 ohms

## 2. Create a function which concatenates the number 7 to the end of every chord in a list. Ignore all chords which already end with 7.

Examples
jazzify(["G", "F", "C"]) ➞ ["G7", "F7", "C7"]

jazzify(["Dm", "G", "E", "A"]) ➞ ["Dm7", "G7", "E7", "A7"]

jazzify(["F7", "E7", "A7", "Ab7", "Gm7", "C7"]) ➞ ["F7", "E7", "A7", "Ab7", "Gm7", "C7"]

jazzify([]) ➞ []

In [8]:
words=["G", "F", "C"]
ending=(input("enter a ending word:"))
for i in words:
    add = [word + ending for word in words]
print(add)

enter a ending word:7
['G7', 'F7', 'C7']

### 3. Create a function that takes a string and returns the number (count) of vowels contained within it.

Examples
count_vowels("Celebration") ➞ 5

count_vowels("Palm") ➞ 1

count_vowels("Prediction") ➞ 4

In [24]:
list=input("Enter a Name:")
count_vowels=0
vowels = "AEIOUaeiou"  # Both uppercase and lowercase vowels

for i in list:
    if i in vowels:
        count_vowels+=1
    
print(count_vowels)

Enter a Name:Vungarala Jagadeesh
8

In [2]:
list=input("Enter a Name:")
count_vowels=0
vowels = "AEIOUaeiou"  # Both uppercase and lowercase vowels

i=0
while i <len(list):
    char = list[i]
    if char in vowels:
        count_vowels+=1
    i+=1

print(count_vowels)

Enter a Name:Jagadeesh Vungarala
8

### 4. Create a function that takes a list and finds the integer which appears an odd number of times.

Examples
find_odd([1, 1, 2, -2, 5, 2, 4, 4, -1, -2, 5]) ➞ -1

find_odd([20, 1, 1, 2, 2, 3, 3, 5, 5, 4, 20, 4, 5]) ➞ 5

find_odd([10]) ➞ 10

In [10]:
list = [1, 2, 2, 1, 3, 4, 4, 3, 5]

# Initialize a variable to store the result
result = None

# Iterate through the list and count the occurrences of each integer
for num in list:
    count = list.count(num)
    if count % 2 != 0:
        result = num
        break

if result is not None:
    print(f"The integer that appears an odd number of times is: {result}")
else:
    print("No integer with an odd number of occurrences found.")

The integer that appears an odd number of times is: 5

In [14]:
my_list = [1, 2, 2, 1, 3, 4, 4, 3, 5]

# Initialize variables
result = None
index = 0

# Iterate through the list using a while loop
while index < len(my_list):
    num = my_list[index]
    count = my_list.count(num)
    
    if count % 2 != 0:
        result = num
        break
    
    index += 1

if result is not None:
    print(f"The integer that appears an odd number of times is: {result}")
else:
    print("No integer with an odd number of occurrences found.")

The integer that appears an odd number of times is: 5

### 5. Create a function that returns a base-2 (binary) representation of a base-10 (decimal) string number. To convert is simple: ((2) means base-2 and (10) means base-10) 010101001(2) = 1 + 8 + 32 + 128.

Going from right to left, the value of the most right bit is 1, now from that every bit to the left will be x2 the value, value of an 8 bit binary numbers are (256, 128, 64, 32, 16, 8, 4, 2, 1).

Examples
binary(1) ➞ "1"
# 1*1 = 1

binary(5) ➞ "101"
# 1*1 + 1*4 = 5

binary(10) ➞ "1010"
# 1*2 + 1*8 = 10

In [7]:
decimal_str = "4"
decimal_num = int(decimal_str)
binary_representation = ""

if decimal_num == 0:
    binary_representation = "0"
else:
    while decimal_num > 0:
        remainder = decimal_num % 2
        binary_representation = str(remainder) + binary_representation
        decimal_num = decimal_num // 2

print(f"The binary representation of {decimal_str} is {binary_representation}")

The binary representation of 4 is 100

In [8]:
decimal_str="4"
decimal_num = int(decimal_str)
binary_representation = ""

if decimal_num == 0:
    binary_representation = "0"
else:
    for i in  range(decimal_num.bit_length()):
        remainder = decimal_num % 2
        binary_representation = str(remainder) + binary_representation
        decimal_num = decimal_num // 2
        
print(f"The binary representation of {decimal_str} is {binary_representation}")

The binary representation of 4 is 100