### List
    * List are sequential hetrogeneous dynamic containers which mutable in nature.
    * Element of lists are enclosed within[' '].
    * We can also use list() to typecast in iterator.
    * Since lists are seq, we perform indexing and slicing.

In [1]:
l = ["hii",2,2+3j,True,1.0]
print(l,type(l),sep="\n")

['hii', 2, (2+3j), True, 1.0]
<class 'list'>

## Slicing in List
    * positive and negative slicing in List.

In [2]:
# postive slicing
l = ["hii",2,2+3j,True,1.0]
print(l[0:5])

['hii', 2, (2+3j), True, 1.0]

In [3]:
# negative slicing
l = ["hii",2,2+3j,True,1.0]
print(l[-1:-3])

[]

In [4]:
l = ["hii",2,2+3j,True,1.0]
print(l[-4:])

[2, (2+3j), True, 1.0]

In [5]:
l = ["hii",2,2+3j,True,1.0]
print(l[-1:-5:-1])

[1.0, True, (2+3j), 2]

### Methods in List

In [6]:
dir(list)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

    > append :- Add excatly one element at end of the index.
    
    > clear  :- It clear's the list's content's and return a empty list.
    
    > copy   :- create's a shallow copy of the list object.
    
    > count  :- same as a  string, it counts the number of time's on element has occured in the list.
    
    > extend :- Add or extend the list by two or multiple elements at a time.
    
    > insert :- insert a new element at  index position.
    
    > pop    :- put out the last element in list. it an index is given as input,it pop out the element at said index.
    
    > remove :- remove the said element.
    
    > reverse:- reverse the string.
    
    > sort   :- sort the string in ascending or descending order.

#### Append
     * append :- Add excatly one element at end of the index.

In [6]:
help(l.append)

Help on built-in function append:

append(object, /) method of builtins.list instance
    Append object to the end of the list.

In [7]:
m = ["kushi","sakhi","Orange","Na autobiography","prema"]
m.append("Orginal Gangstar")
print(m)

['kushi', 'sakhi', 'Orange', 'Na autobiography', 'prema', 'Orginal Gangstar']

#### Extend
extend :- Add or extend the list by two or multiple elements at a time.

In [7]:
help(l.extend)

Help on built-in function extend:

extend(iterable, /) method of builtins.list instance
    Extend list by appending elements from the iterable.

In [9]:
m = ["kushi","sakhi","Orange","Na autobiography","prema"]
m.extend(["OG","Tholiprema"])
print(m)

['kushi', 'sakhi', 'Orange', 'Na autobiography', 'prema', 'OG', 'Tholiprema']

#### insert 
    * insert a new element at  index position.

In [8]:
help(l.insert)

Help on built-in function insert:

insert(index, object, /) method of builtins.list instance
    Insert object before index.

In [11]:
m = ['kushi', 'sakhi', 'Orange', 'Na autobiography', 'prema', 'OG', 'Tholiprema']
m.insert(1,"pothuraju")
print(m)

['kushi', 'pothuraju', 'sakhi', 'Orange', 'Na autobiography', 'prema', 'OG', 'Tholiprema']

#### pop
    * put out the last element in list. it an index is given as input,it pop out the element at said index.

In [9]:
help(l.pop)

Help on built-in function pop:

pop(index=-1, /) method of builtins.list instance
    Remove and return item at index (default last).

    Raises IndexError if list is empty or index is out of range.

In [12]:
m = ['kushi', 'pothuraju', 'sakhi', 'Orange', 'Na autobiography', 'prema', 'OG', 'Tholiprema']
m.pop() # it will pop at end of the index 
print(m)

['kushi', 'pothuraju', 'sakhi', 'Orange', 'Na autobiography', 'prema', 'OG']

In [13]:
m = ['kushi', 'pothuraju', 'sakhi', 'Orange', 'Na autobiography', 'prema', 'OG']
m.pop(3) 
print(m)

['kushi', 'pothuraju', 'sakhi', 'Na autobiography', 'prema', 'OG']

#### remove 
    * remove the said element.

In [10]:
help(l.remove)

Help on built-in function remove:

remove(value, /) method of builtins.list instance
    Remove first occurrence of value.

    Raises ValueError if the value is not present.

In [14]:
print(m)
m.remove("sakhi")
print(m)

['kushi', 'pothuraju', 'sakhi', 'Na autobiography', 'prema', 'OG']
['kushi', 'pothuraju', 'Na autobiography', 'prema', 'OG']

#### reverse
    * reverse the string.

In [11]:
help(l.reverse)

Help on built-in function reverse:

reverse() method of builtins.list instance
    Reverse *IN PLACE*.

In [15]:
print(m)
m.reverse()
print(m)

['kushi', 'pothuraju', 'Na autobiography', 'prema', 'OG']
['OG', 'prema', 'Na autobiography', 'pothuraju', 'kushi']

#### sort
    * sort the string in ascending or descending order.

In [12]:
help(l.sort)

Help on built-in function sort:

sort(*, key=None, reverse=False) method of builtins.list instance
    Sort the list in ascending order and return None.

    The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
    order of two equal elements is maintained).

    If a key function is given, apply it once to each list item and sort them,
    ascending or descending, according to their function values.

    The reverse flag can be set to sort in descending order.

In [16]:
print(m)
m.sort()
print(m)

['OG', 'prema', 'Na autobiography', 'pothuraju', 'kushi']
['Na autobiography', 'OG', 'kushi', 'pothuraju', 'prema']

In [20]:
a = [-50,-74,4,10,23] # only integers
b = [0.56, 1.89, -0.86, -0.99, -10.10] # only flaot values
c = a + b # int & flaots
d = [1+1j, 2-2j, 10+10j] # complex
e = ['venu', 'Vengal', 'Deepthi', 'shravani'] # strings
f = c + d
g = f + e
c.sort()
print(c)
e.sort()
print(e)

[-74, -50, -10.1, -0.99, -0.86, 0.56, 1.89, 4, 10, 23]
['Deepthi', 'Vengal', 'shravani', 'venu']

In [18]:
f.sort()
print(f)

TypeError: '<' not supported between instances of 'complex' and 'float'

In [19]:
g.sort()
print(g)

TypeError: '<' not supported between instances of 'complex' and 'float'

### count
    * same as a  string, it counts the number of time's on element has occured in the list.

In [13]:
help(l.count)

Help on built-in function count:

count(value, /) method of builtins.list instance
    Return number of occurrences of value.

In [21]:
m = ['OG', 'prema',"prema", 'Na autobiography', 'pothuraju', 'kushi']
m.count("prema")

2

In [22]:
l = [1,2,3,1,2,3]
l.count(1),l.index(1,1)

(2, 3)

#### copy  
    * create's a shallow copy of the list object.

In [14]:
help(l.copy)

Help on built-in function copy:

copy() method of builtins.list instance
    Return a shallow copy of the list.

In [23]:
a = ['one', 'two', 'three']
b = a
print(a, b, sep = '\n')

['one', 'two', 'three']
['one', 'two', 'three']

In [24]:
a.extend([4,5,6])
print(a, b, sep = '\n')

['one', 'two', 'three', 4, 5, 6]
['one', 'two', 'three', 4, 5, 6]

In [25]:
print(a, id(a))
print(b, id(b))

['one', 'two', 'three', 4, 5, 6] 2219705541184
['one', 'two', 'three', 4, 5, 6] 2219705541184

In [26]:
# copy()

c = a.copy()

a.reverse()
print(a, id(a))
print(c, id(c))

[6, 5, 4, 'three', 'two', 'one'] 2219705541184
['one', 'two', 'three', 4, 5, 6] 2219692023104

In [27]:
d = [111, 222, 333, ['one', 'two', 'three']]
e = d.copy()
print(d, id(d))
print(e, id(e))

[111, 222, 333, ['one', 'two', 'three']] 2219705546112
[111, 222, 333, ['one', 'two', 'three']] 2219705539968

In [28]:
d[3][1]

'two'

In [29]:
d[0] = 'zzz'
d[3][1] = 2
d[3].append('z')
print(d)

['zzz', 222, 333, ['one', 2, 'three', 'z']]

In [30]:
print(e)

[111, 222, 333, ['one', 2, 'three', 'z']]

In [31]:

d is e

False

In [32]:
d[3] is e[3]

True

In [33]:
print(d[3], id(d[3]))
print(e[3], id(e[3]))

['one', 2, 'three', 'z'] 2219704536576
['one', 2, 'three', 'z'] 2219704536576

#### deepcopy
    *

In [34]:
import copy
from copy import deepcopy

In [35]:
f = deepcopy(e)
print(f, id(f))
print(e, id(e))

[111, 222, 333, ['one', 2, 'three', 'z']] 2219705580992
[111, 222, 333, ['one', 2, 'three', 'z']] 2219705539968

In [36]:
e[0] = 'zzz'
e[3][1] = 2.2
e[3].append('z')
print(e)

['zzz', 222, 333, ['one', 2.2, 'three', 'z', 'z']]

In [37]:
f

[111, 222, 333, ['one', 2, 'three', 'z']]

In [38]:
f[3] is not e[3]

True

In [39]:
print(f[3], id(f[3]))
print(e[3], id(e[3]))

['one', 2, 'three', 'z'] 2219691417216
['one', 2.2, 'three', 'z', 'z'] 2219704536576

In [40]:
e

['zzz', 222, 333, ['one', 2.2, 'three', 'z', 'z']]

#### clear
    * It clear's the list's content's and return a empty list.

In [15]:
help(l.clear)

Help on built-in function clear:

clear() method of builtins.list instance
    Remove all items from list.

In [5]:
l = [1,2,3,1,2,3]
l.clear()
l

[]

### Range()
    * Range object can be directly and as an iterator
    * 
    * range(start,end,step)

In [18]:
range(5)

range(0, 5)

In [19]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [20]:
list(range(-1,-12,-1))

[-1, -2, -3, -4, -5, -6, -7, -8, -9, -10, -11]

In [21]:
list(range(-11,0,1))

[-11, -10, -9, -8, -7, -6, -5, -4, -3, -2, -1]

## Tuple
    * Tuple is a Hetrogeneous.
    * It allow duplicate value's in tuple.
    * It is a immutable.
    * Element of lists are enclosed within('').

In [23]:
t = ("hii",2,2+3j,True,1.0)
print(t,type(t),sep="\n")

('hii', 2, (2+3j), True, 1.0)
<class 'tuple'>

### slicing in Tuple
     * postive and negative slicing in tuple.

In [25]:
# postive slicing

t = ("hii",2,2+3j,True,1.0)
print(t[0:5])

('hii', 2, (2+3j), True, 1.0)

In [26]:
# negative slicing

t = ("hii",2,2+3j,True,1.0)
print(t[-1:-3])

()

In [27]:
t = ("hii",2,2+3j,True,1.0)
print(t[-4:])

(2, (2+3j), True, 1.0)

In [28]:
t = ("hii",2,2+3j,True,1.0)
print(t[-1:-5:-1])

(1.0, True, (2+3j), 2)

### Methods in Tuple

In [29]:
dir(tuple)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

    > count  :- same as a  string & List, it counts the number of time's on element has occured in the list.
        
    > index  :- the index value of the first occurrence of the specified element in the tuple.

#### count
       * same as a  string & List, it counts the number of time's on element has occured in the list.

In [30]:
help(t.count)

Help on built-in function count:

count(value, /) method of builtins.tuple instance
    Return number of occurrences of value.

In [31]:
t = ("Ratan Tata","Nikola Tesla","Warren Buffett","Jack Ma","Swami Vivekananda","Jack Ma")
t.count("Jack Ma")

2

#### Index
    > the index value of the first occurrence of the specified element in the tuple.

In [32]:
help(t.index)

Help on built-in function index:

index(value, start=0, stop=9223372036854775807, /) method of builtins.tuple instance
    Return first index of value.

    Raises ValueError if the value is not present.

In [33]:
t = ("Ratan Tata","Nikola Tesla","Warren Buffett","Jack Ma","Swami Vivekananda","Jack Ma")
t.index("Ratan Tata")

0

## Set
    * set are unorder,clusters.
    * Element of lists are enclosed within {''}.
    * set's are mutable.
    * It will not allow duplicate value's in set's.

In [34]:
s = {"hii",2,2+3j,True,1.0}
print(s,type(s),sep="\n")

{True, 2, 'hii', (2+3j)}
<class 'set'>

### Methods in Set

In [35]:
dir(set)

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

    > add     :- Adds an element to the set.
    
    > update  :- Update the set with another set, or any other iterable.
    
    > pop     :- Removes an element from the set.
    
    > copy    :- Returns a copy of the set.
    
    > remove  :- Removes the specified element.
    
    > clear   :- Removes all the elements from the set.
    
    > discard :- Remove the specified item.

### Add
    * Adds an element to the set.

In [56]:
help(s.add)

Help on built-in function add:

add(...) method of builtins.set instance
    Add an element to a set.

    This has no effect if the element is already present.

In [36]:
s = {"sachin","gambhir","nehra",'dhoni','david'}
s.add("yuvraj")
s

{'david', 'dhoni', 'gambhir', 'nehra', 'sachin', 'yuvraj'}

### Update
    * Update the set with another set, or any other iterable.

In [57]:
help(s.update)

Help on built-in function update:

update(...) method of builtins.set instance
    Update a set with the union of itself and others.

In [37]:
s = {"sachin","gambhir","nehra",'dhoni','david','yuvraj'}
s.update(['ganguly','harbhajan'])
s

{'david',
 'dhoni',
 'gambhir',
 'ganguly',
 'harbhajan',
 'nehra',
 'sachin',
 'yuvraj'}

### pop
    * Removes an element from the set.

In [58]:
help(s.pop)

Help on built-in function pop:

pop(...) method of builtins.set instance
    Remove and return an arbitrary set element.
    Raises KeyError if the set is empty.

In [40]:
s = {"sachin","gambhir","nehra",'dhoni','david','yuvraj','ganguly','harbhajan'}
c = s.pop()
s,c

({'david', 'dhoni', 'ganguly', 'harbhajan', 'nehra', 'sachin', 'yuvraj'},
 'gambhir')

In [41]:
s = {1,2,3,4}
x=s.pop()
x

1

In [42]:
a = {1,2,3,4,5}
x=a.pop()
a,x

({2, 3, 4, 5}, 1)

### copy
    * Returns a copy of the set.

In [59]:
help(s.copy)

Help on built-in function copy:

copy(...) method of builtins.set instance
    Return a shallow copy of a set.

In [44]:
a ={1,2,3}
b = a
b=a.copy()
print(a,b,sep="\n")
print(a, id(a))
print(b, id(b))

{1, 2, 3}
{1, 2, 3}
{1, 2, 3} 1836125386816
{1, 2, 3} 1836125385248

### remove  
    * Removes the specified element.

In [60]:
help(s.remove)

Help on built-in function remove:

remove(...) method of builtins.set instance
    Remove an element from a set; it must be a member.

    If the element is not a member, raise a KeyError.

In [45]:
s = {"sachin","gambhir","nehra",'dhoni','david','yuvraj','ganguly','harbhajan'}
s.remove("harbhajan")
s

{'david', 'dhoni', 'gambhir', 'ganguly', 'nehra', 'sachin', 'yuvraj'}

In [46]:
s = {1,2,3,4}
s.remove('4')
s

KeyError: '4'

### discard
    * discard :- Remove the specified item.

In [61]:
help(s.discard)

Help on built-in function discard:

discard(...) method of builtins.set instance
    Remove an element from a set if it is a member.

    Unlike set.remove(), the discard() method does not raise
    an exception when an element is missing from the set.

In [47]:
s = {"sachin","gambhir","nehra",'dhoni','david','yuvraj','ganguly'}
s.discard("ganguly")
s

{'david', 'dhoni', 'gambhir', 'nehra', 'sachin', 'yuvraj'}

In [49]:
s = {1,2,3}
s.remove(2)
s

{1, 3}

### clear 
    * Removes all the elements from the set.

In [62]:
help(s.clear)

Help on built-in function clear:

clear(...) method of builtins.set instance
    Remove all elements from this set.

In [54]:
s = {"sachin","gambhir","nehra",'dhoni','david','yuvraj','ganguly','harbhajan'}
s.clear()
print(s)

set()

In [55]:
len(s)

0