## List Comprehension:
1.Easy:- Create a list comprehension that generates a list of squares of numbers from 1 to 10.
#### Output:- [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [2]:
# List Comprehension
# 1.Create a list comprehension that generates a list of squares of numbers from 1 to 10.

a=int(input())
b=int(input())
c=[i**2 for i in range(a,b+1)]
c

1
10

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

2. Medium: Given a list of words, create a list comprehension to filter out words that are longer than 5 characters.
    #### Input: ['apple', 'banana', 'cherry', 'date', 'elderberry']
    #### Output: ['apple', 'cherry', 'date']

In [19]:
list =  ['apple', 'banana', 'cherry', 'date', 'elderberry']
l=[i for i in list if len(i)<=5]
l

['apple', 'date']

## Lists:
1.Easy: Create a list containing the numbers 1 to 5 and then append the number 6 to it.
#### Output: [1, 2, 3, 4, 5, 6]

In [9]:
a=[1,2,3,4,5]
b=[i for i in a]
b.append(6)
b

[1, 2, 3, 4, 5, 6]

2.Medium: Given two lists, merge them into a single list without duplicates.
Input:
#### List 1: [1, 2, 3, 4]
#### List 2: [3, 4, 5, 6]
#### Output: [1, 2, 3, 4, 5, 6]

In [3]:
list1 = [1,2,3,4]
list2 = [3,4,5,6]
list3 = set(list1+list2)
print(list(list3))

[1, 2, 3, 4, 5, 6]

### Map

1. Easy: Use the map function to double each element in a list.
#### Input: [1, 2, 3, 4, 5]
#### Output: [2, 4, 6, 8, 10]

In [13]:
l = lambda x: x + x
r = map(l,range(1,6))
r=list(r)
r

[2, 4, 6, 8, 10]

2.Medium: Use the map function to convert a list of strings to uppercase.
#### Input: ['apple', 'banana', 'cherry']
#### Output: ['APPLE', 'BANANA', 'CHERRY']

In [3]:
x = ['apple','banana','cherry']
y = lambda x:x.upper()
z = map(r,l)
print(list(z))

['APPLE', 'BANANA', 'CHERRY']

### Filter

1. Easy: Use the filter function to get all even numbers from a list.
#### Input: [1, 2, 3, 4, 5, 6]
#### Output: [2, 4, 6]

In [5]:
x = [1,2,3,4,5,6]
y = lambda x:x%2==0
z = filter(y,x)
print(list(z))

[2, 4, 6]

2. Medium: Use the filter function to get all words from a list that start with the letter 'b'.
#### Input: ['apple', 'banana', 'cherry', 'blueberry', 'date']
#### Output: ['banana', 'blueberry']

In [6]:
l = ['apple','banana','cherry','blueberry','date']
y = lambda x:x.startswith('b')
z = filter(y,l)
print(list(z))

['banana', 'blueberry']

### Function

1. Easy: Write a function called add that takes two numbers as input and returns their sum.
#### Input: add(3, 4)
#### Output: 7

In [1]:
def add(a,b):
    
    print(a + b)
    
add(3,4)

7

2.Medium: Write a function called calculate_average that takes a list of numbers as input and returns the average (mean) of those numbers.
#### Input: calculate_average([1, 2, 3, 4, 5])
#### Output: 3.0

In [11]:
def cal_avg(a):
    x = sum(a)/len(a)
    print(x)
    
cal_avg([1,2,3,4,5])

3.0